.descripcion-container {
    margin-top: 3%;
    padding: clamp(10px, 2vw, 20px);
    width: 100%;
}

.certificacion,
.descripcion,
.caracteristica {
    position: relative;
}

.certificacion {
    margin: 20px 0;
    text-align: center;
}

.empresa {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.imagen1 {
    width: clamp(200px, 30vw, 300px);
    height: auto;
}

.descripcion {
    display: flex;
    justify-content: space-between;
    gap: clamp(10px, 2vw, 20px);
    margin: 3% clamp(20px, 15%, 200px);
}

.caracteristica {
    flex: 1;
    text-align: center;
    background: #e6e6e6;
    padding: clamp(15px, 2vw, 20px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.caracteristica:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.caracteristica h2 {
    font-size: clamp(18px, 2.5vw, 24px);
    color: #044a29;
    margin-top: clamp(8px, 1vw, 10px);
    margin-bottom: clamp(10px, 4%, 20px);
}

.caracteristica p {
    font-size: clamp(14px, 1.5vw, 16px);
    line-height: 1.5;
    color: #333;
}

@media (max-width: 1440px) {
    .descripcion {
        margin: 0 10% 5%;
    }
}

@media (max-width: 1024px) {
    .descripcion {
        margin: 3% clamp(15px, 10%, 100px);
    }

    .caracteristica {
        margin-bottom: 20px;
        margin-right: 2%;
    }
}

@media (max-width: 768px) {
    .descripcion {
        flex-direction: column;
        /* margin: 3% clamp(10px, 5%, 50px); */
        margin-bottom: -10%;
    }

    .caracteristica {
        margin-bottom: 20px;
        margin-right: 2%;
    }

    .content-image {
        /* margin-bottom: -40%; */
        margin-top: -20%;
        width: 100%;
        max-width: 300px;
    }

    
}

@media (max-width: 480px) {
    .descripcion-container {
        margin-top: 2%;
    }

    .descripcion {
        margin: 0 5% 5%;
    }

    .caracteristica {
        padding: 15px;
        margin-bottom: 15px;
        margin-right: 3%;
    }

    .caracteristica h2 {
        font-size: 22px;
    }

    .empresa {
        margin-bottom: 1rem;
    }
}